<<<<<<< HEAD

*{margin: 0; padding: 0;}
html{display: block;
	min-height: 101%;
}
body{
	  color: rgb(102, 102, 102);
    min-width: 1200px;
    font: 12px/20px "Hiragino Sans GB", "Microsoft Yahei", arial, 宋体, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background: none 0px 0px repeat scroll rgb(255, 255, 255);
}
div{display: block;}
/*span{display: block;*/
	
	

	input{
	outline: none;
	border:0px;
	disply: inline-block;
}

p{
	display: inline;
}
a{
	direction: none;
	color: #333;
	text-decoration: none;
	outline: medium none;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
a:hover,a:visited,a:active{text-decoration: none; color:rgb(119,119,119) ;}
ol,ul {
	list-style: none outside none;
    padding:0;
}
li{
	display: inline-block;
}
dl{margin: 0;
	clear: left;
	display: block;
}
dt{font-weight: normal;}
/*dd{    margin-inline-start: 40px;}*/
dt,dd{
	float: left;
	display: block;
	
}

