<<<<<<< HEAD

*{margin: 0; padding: 0;}
html{display: block;
	min-height: 101%;
}
div{display: block;}
/*span{display: block;*/
	
	}

	input{
	outline: none;
	border:0px;
	display: inline-block;
}

p{
	display: inline;
}
a{
	direction: none;
	color: #333;
	text-decoration: none;
	outline: medium none;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
ol,ul {
	list-style: none outside none;
    padding:0;
}
li{
	display: inline-block;
}
dl{margin: 0;
	clear: left;
	display: block;
}
dt,dd{
	float: left;
	
}

