.public_top_layout{
	  font-family: Arial, 宋体;
    line-height: 20px;
    color: rgb(119, 119, 119);
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(240, 240, 240);
		font-size: 12px;
		width: 100%;
		background-color: #FAFAFA;
}
.top_h{
	height: 30px;
	line-height: 30px;
	width: 1200px;
	margin:0 auto;
}
.form-check-inline li{
	margin-right: 5px;
}
.form-check-inline a{color: rgb(119, 119, 119) ;}
.form-check-inline li em{
	  background-image: url(../images/index/top_ico.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
		
    width: 13px;
    height: 15px;
    margin: 3px 2px 0px 2px;
}

/*.form-check-inline li i{
	  background: url(../images/index/top_bg.png) no-repeat 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 6px;
    height: 3px;
    margin-left: 2px;
    transition: .2s ease-in;
		background-position: 0px 0px;*/
}
.top_r{width: 60% ;height:30px ;float:right; text-align: right;}
.top_r dl{    text-align: left;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 90px;
    height: 30px;
    position: relative;
    z-index: 999;}
.top_r .tel dt{width: 113px; height: 30px;}
.top_r .xinl{margin-left: 6px; width:20px; height: 30px;}
.top_r .xinl a{margin: 0 auto;}

.top_r dl dd ul{margin-bottom: 0;}
    
.top_r dl dt em{display: inline-block;
		background-image: url(../images/index/top_ico.png);
		background-repeat: no-repeat;
		vertical-align: middle;
		width: 13px;
		height: 15px;
		background-position:-15px -15px;
		transition: all .2s;
		
}
.top_r dl dt i{
	  background: url(../images/index/top_bg.png) no-repeat 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 6px;
    height: 3px;
    margin-left: 6px;
    transition: .2s ease-in;
}
.top_r>dl>dt:hover~dd{ display: block;}
.top_r>dl>dt:hover em{ background-position-y:  -30px ;}

.top_r dl dt .ico_shop{
	 background-position: -15px -15px;
}
.top_r dl dt .ico_order{
	 background-position: -30px -15px;
}
.top_r dl dt .ico_store{
	 background-position: -45px -15px;
}
.top_r dl dt .ico_service{
	 background-position: -60px -15px;
}

.top_r dl dt .ico_tel{
	 background-position: 0px -15px;
}
.top_r dl dd{
	background-color: #fff;
	width:88px;
	border:1px solid #f0f0f0 ;
	display: none;

}

.top_r dl dd ul a{    
	  font-size: 12px;
    line-height: 24px;
    display: block;
    clear: both;
    padding: 2px 0 2px 11px;}

.public_header{width: 100%;height: 100px;}
.public_header_content{width: 1200px; margin:  auto;}
.public_h_logo{margin: 10px 15px 0 0; float: left; }
.ad{float: left; margin: 10px 10px 0 0 ; width: 120px;}
.ad a img{width:100px; height: 70px;}
.public_search{float: left;
 	margin:20px 0 0 20px;
  width:500px;
  }
.tab{    position: absolute;
    width: 60px;
    height: 36px;
    line-height: 36px;
    margin: 0 2px 0 0;
    cursor: pointer;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    background: #FFF;
    border: 2px solid #C81623;
    text-indent: 10px;
    border-right: none;
    box-sizing: content-box;}
.tab li{padding: 0 1px;
    height: 36px;
    line-height:36px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    font-size: 14px;
    background: #fff;
    color: #666;
    border-right: 1px solid #ddd;}
.tab .store_list{display: none}
.public_search .search_form{
	background-color: #C81623;
	height: 40px;
	padding: 1px;
}
.public_search .search_form .input-text{
	margin-left: 60px;
	text-indent: 5px;
	color: #555;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	margin-top:-px;
	width: 69%;
}
.public_search .search_form .input-submit{
	background-color: rgba(0,0,0,0);
	width: 79px;
	height: 36px;
	border: none;
	color: #fff;
	line-height: 1;
	font-family: "microsoft yahei";
	font-size:16px;
	cursor: pointer;
}
.public_search .keyword{
	width: 500px;
	height: 20px;
	line-height: 20px;
	color:#999;
	margin-top: 4px;
}
.public_search .keyword ul{
	display: inline-block;
	vertical-align: top;
}
.public_search .keyword ul li{
	display: inline-block;
	font-size: 12px;
	vertical-align: top;
	letter-spacing: normal;
	margin-right: 12px;
}
.public_search .keyword ul li a{
	color:#666;
	text-decoration: none;
	font:12px/150% Arial,Verdana;;
}
.head-user-menu{
	float: right;
	font-size: 0;
	margin-top: 20px;
}
.head-user-menu dl{
	font-size:12px;
	vertical-align: top;
	letter-spacing: normal;
	display: inline-block;
	margin-left: 10px;
	position:relative;
	z-index:3;
}
.head-user-menu dl dt{
	display: block;
  line-height: 20px;
  color: #555;
  background-color: #FAFAFA;
  height: 20px;
  padding: 10px;
  border: solid 1px #F0F0F0;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  cursor: pointer;
  box-sizing: content-box;
}
.head-user-menu dl dd{
	background-color: #FFF;
  /*display: none;*/
  border: solid 1px #F0F0F0;
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 0;
}
.head-user-menu .my_mall{
	width: 108px;
}
.head-user-menu .my_mall dt{
	width: 98px;
}
.head-user-menu .my_mall dd{
	width: 308px;
}
.head-user-menu dl dt span.ico{
	background:url(../images/index/top_bg.png) no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 16px;
}
.head-user-menu dl.my_mall .ico{
	background-position:-100px 0;
	margin-right: 4px;
}



.head-user-menu .my_cart{
	width: 108px;
}
.head-user-menu dl dt i {
	font-size: 0px;
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 8px;
  border-width: 4px;
  border-color: #777 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  transition: .2s ease-in;
}
.head-user-menu dl dd .sub-title{
	height: 28px;
	line-height: 28px;
	padding: 7px;
	border-bottom: solid 1px #ddd;
	box-sizing: content-box;
}
.head-user-menu dl dd .sub-title a{
	float: right;
	color: #005EA6;;
}
.head-user-menu dl dd i{
	background:url(../images/index/top_bg.png) no-repeat -150px 0;
	vertical-align: middle;
  display: inline-block;
  width: 4px;
  height: 7px;
  margin-left: 4px;
} 
.head-user-menu dl dd .user-centent-menu{
	box-sizing: content-box;
	width: 308px;
	padding: 8px 0;
	overflow:hidden;
	
}
.head-user-menu dl dd .user-centent-menu ul {
	width: 310px;
	margin-left: -2px;
}
.head-user-menu dl dd .user-centent-menu ul li{
	width: 138px;
	float: left;
	padding: 4px 0 4px 16px;
	border-left: 1px solid #eee ;
}
.head-user-menu dl dd .user-centent-menu ul li a{
	color: #005EA6;
}
.head-user-menu dl dd a:hover{
	text-decoration: underline;
}
.head-user-menu .browse-history{
	width: 308px;
	background-color: #FAFAFA;
	border: 1px solid #ddd;
	/*box-sizing: content-box;*/
}
.head-user-menu .browse-history .part-title{
	box-sizing: content-box;
	padding: 6px 8px;
	height: 20px;
	
}
.head-user-menu .browse-history .part-title a{
	float: right;
	 color: #005EA6;
}
.head-user-menu .browse-history ul{
	padding: 0 7px 7px 7px;
	margin-bottom:0;
	}
.head-user-menu .browse-history ul li{
	width: 100%;
	text-align: center;
	font-size: 12px;
	display: block;
}

.head-user-menu .my_cart{
	width: 124px;
}

.head-user-menu .my_cart dt{
	width: 106px;
}
.head-user-menu dl.my_cart .ico{box-sizing: content-box; background-position: -120px 0;margin-right: 2px;}
.head-user-menu dl.my_cart dd {
	width: 348px;
}
.head-user-menu .my_cart dd .sub-title{
	height: 28px;
	line-height: 28px;
	padding: 7px;
	border-bottom:solid 1px #ddd;
}
.head-user-menu .my_cart dd .sub-title h4{
	font-weight: 600;
	font-size: 1em;
	font-style: normal;
	line-height: 28px;
}
.head-user-menu dl dd .incart-goods-box {
    display: block;
    width: 348px;
    max-height: 267px;
    min-height: 58px;
    
    overflow: hidden;
    position: relative;
}
.head-user-menu dl dd .incart-goods {
    text-align: center;
    width: 100%;
}
.public_nav_layout{
	  width: 100%;
    height: 36px;
    border-bottom: solid 2px #C81623;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    zoom: 1;
}

.public_nav_layout .wrapper{width: 1200px; margin: 0 auto;}
.public_nav_layout .wrapper .all-category a:hover{
	text-decoration: underline;
}
.public_nav_layout .wrapper .site-menu a:hover{
	color: red;
}
.wrapper .all-category{
	width: 212px;
	height: 36px;
	display: block;
	float: left;
	background-color: #C81623;
	border-radius: 2px;
}
.all-category .title{
	height: 20px;
	line-height: 20px;
	padding: 8px 10px 10px 10px;
}
.all-category .title>i{
	display: block;
	background: url(../images/index/top_bg.png) no-repeat -182px -186px;
	width: 18px ;
	height: 14px;
	float: left;
	margin: 4px 4px 0 0 ;
}
.all-category .title a{
	font-size:14px;
	color:#fff;
	float: left;
	margin-left: 04px;
}
.public_nav_layout .category .menu{
	height: 543px;
	background: #565656;
	padding-top: 2px;
}
.public_nav_layout .category .menu li{
	width: 212px;
	height: 34px;
	position: relative;
	z-index: 1;
	zoom: 1;
}
.public_nav_layout .category .class{
	display: block;
	width: 183px;
	height: 16px;
	padding: 9px 15px;
}

.public_nav_layout .category .class .ico{
	vertical-align: top;
  display: inline-block ;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.public_nav_layout .category .class .ico img{
	width: 16px;
	height: 16px;
}
.public_nav_layout .category .class>h4{
	vertical-align: top;
  display: inline-block;
}
.public_nav_layout .category .class>h4 a{
	  color: #FFF;
    font-size: 13px;
    line-height: 16px;
    height: 16px;
}
.public_nav_layout .category .arrow{
	background: url(../images/index/top_bg.png) no-repeat -150px -10px;
  width: 3px;
  height: 5px;
  float: right;
  margin: 5px 0 0;
}
.public_nav_layout .category .sub-class{
	width: 946px;
	min-height:513px;
	background: #fff;
	position: absolute;
	left:212px;
	top: 0px;
	padding:10px 20px 19px 20px;
	/*margin: 10px;*/
	border:1px solid;
	margin-top:-2px;
	border-color: #C81623;
	z-index: 1;
}
.public_nav_layout .category .sub-class-content{
	width: 730px;
	float: left;
}
.public_nav_layout .category .recommend-class span{
	font-size: 12px;
  font-size: 12px;
  background-color: #7C7171;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin:0 10px 10px 0 ;
}
.public_nav_layout .category .recommend-class span a{
	color: #fff;
	display: block;
	padding: 2px 10px;
	line-height: 20px;
}
.public_nav_layout .category .sub-class dl{padding-top:10px ;}
.public_nav_layout .category .sub-class dl dt, .public_nav_layout .category .sub-class dl dd {
  font-size: 12px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;

}
.public_nav_layout .category .sub-class dl dt{
	background: url(../images/index/top_bg.png) no-repeat right -22px;
  width: 70px;
  height: 16px;
  padding-right: 15px;
  margin-right: 15px;
}
.public_nav_layout .category .sub-class dl dt h3 {
    line-height: 16px;
    font-weight: 600;
    color: #5C5251;
    text-align: right;
}
.public_nav_layout .category .sub-class dl dd{
	  font-size: 0;
    word-spacing: -1em;
    width: 630px;
    border-bottom: solid 1px #F0F0F0;
}
.public_nav_layout .category .sub-class dl dd a{
	  font-size: 12px;
    color: #7C7171;
    line-height: 14px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    height: 14px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-left: solid 1px #E7E7E7;
}
.public_nav_layout .category .sub-class dl dd a:hover{color: red;}

/*banner 上右边*/
.public_nav_layout .category .sub-class-right{
	width:194px;
	height: 370px;
	display: block;
	float: right;
}
.public_nav_layout .category .sub-class-right .brans-list ul{
	overflow: hidden;
}
.public_nav_layout .sub-class-right .brans-list ul li{
	width: 94px;
	height: 31px;
	font-size: 12px;
	background-color: transparent !important;
	vertical-align: top;
	display: inline-block;
	margin: 0 1px 3px 2px;
}
.public_nav_layout .sub-class-right .brans-list ul li a{
	display: block;
	position: relative;
	z-index: 1;
}
.public_nav_layout .sub-class-right .brans-list a img{
	width: 94px;
  height: 31px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.public_nav_layout .sub-class-right .brans-list a span{
	height: 25px;
	width: 86px;
	padding: 3px 4px;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-align: center;
	background-color: #fff;
	white-space: nowrap;
	color: #333;
	overflow: hidden;
}
.public_nav_layout .category .adv-promotions{
  width: 190px;
  margin: 0 2px;
}
.public_nav_layout .category .adv-promotions a{
	display: block;
	background: #FFF;
  width: 190px;
  height: 150px;
  margin-top: 10px;
}
.public_nav_layout .category .adv-promotions img{
  background: #D3D3D3;
  width: 190px;
  height: 150px;
}

ul.site-menu{
		box-sizing: border-box;
	  font-size: 0;
    white-space: nowrap;
    max-width: 988px;
    float: left;
    overflow: hidden;
		/* border: 1px solid; */
}

ul.site-menu>li{display:block; float: left; vertical-align: top}
ul.site-menu>li a{
	display: block;
	font-size:16px;
	font-weight: normal;
	color: #333;
	height: 20px;
	line-height: 20x;
	padding: 8px 18px;
	zoom: 1;
}