/* #login_foot{
	width: 340px;height: 62px;
	margin-top: 0;
	padding:10px ;
	line-height:  initial;
}
#login_foot h4{
	margin:0 0 10px 0;
	color: #333;
}
#login_foot a{

	height: 32px;
	text-decoration: none;
	line-height: 32px;
	
	display: inline-block;
	vertical-align: top;
	margin-right:12px ;

	line-height:62px;
	color: #aaa;
}
#login_foot a i{
	display: inline-block;
	height: 32px;width: 32px;
	background: url(../images/login/qq.png);
	line-height: 32px;
} */
#foot_content{
	padding-top:10px
}
footer div{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 5px;
}
footer>p{
	padding:50px
}