.public_top_layout{
	  font-family: Arial, 宋体;
    line-height: 20px;
    color: rgb(119, 119, 119);
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(240, 240, 240);
		font-size: 12px;
		width: 100%;
		background-color: #FAFAFA;
}
.top_h{
	height: 30px;
	line-height: 30px;
	width: 1200px;
	margin:0 auto;
}
.form-check-inline li{
	margin-right: 5px;
}
.form-check-inline a{color: rgb(119, 119, 119) ;}
.form-check-inline li em{
	  background-image: url(../images/index/top_ico.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
		
    width: 13px;
    height: 15px;
    margin: 3px 2px 0px 2px;
}

/*.form-check-inline li i{
	  background: url(../images/index/top_bg.png) no-repeat 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 6px;
    height: 3px;
    margin-left: 2px;
    transition: .2s ease-in;
		background-position: 0px 0px;*/
		

.top_r{width: 60% ;height:30px ;float:right; text-align: right;}
.top_r dl{    text-align: left;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 90px;
    height: 30px;
    position: relative;
    z-index: 999;}
.top_r .tel dt{width: 113px; height: 30px;}
.top_r .xinl{margin-left: 6px; width:20px; height: 30px;}
.top_r .xinl a{margin: 0 auto;}

.top_r dl dd ul{margin-bottom: 0;}
    
.top_r dl dt em{display: inline-block;
		background-image: url(../images/index/top_ico.png);
		background-repeat: no-repeat;
		vertical-align: middle;
		width: 13px;
		height: 15px;
		background-position:-15px -15px;
		transition: all .2s;
		
}
.top_r dl dt i{
	  background: url(../images/index/top_bg.png) no-repeat 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 6px;
    height: 3px;
    margin-left: 6px;
    transition: .2s ease-in;
}

.top_r>dl:hover dd{ display: block !important;}
.top_r>dl>dt:hover em{ background-position-y:  -30px ;}

.top_r dl dt .ico_shop{
	 background-position: -15px -15px;
}
.top_r dl dt .ico_order{
	 background-position: -30px -15px;
}
.top_r dl dt .ico_store{
	 background-position: -45px -15px;
}
.top_r dl dt .ico_service{
	 background-position: -60px -15px;
}

.top_r dl dt .ico_tel{
	 background-position: 0px -15px;
}
.top_r dl dd{
	background-color: #fff;
	width:88px;
	border:1px solid #f0f0f0 ;
	display: none;

}

.top_r dl dd ul a{    
	  font-size: 12px;
    line-height: 24px;
    display: block;
    clear: both;
    padding: 2px 0 2px 11px;}

.public_header{width: 100%;height: 100px;}
.public_header_content{width: 1200px; margin:  auto;}
.public_h_logo{margin: 10px 15px 0 0; float: left; }
.ad{float: left; margin: 10px 10px 0 0 ; width: 120px;}
.ad a img{width:100px; height: 70px;}
.public_search{float: left;
 	margin:20px 0 0 20px;
  width:500px;
  }
.tab{    position: absolute;
    width: 60px;
    height: 36px;
    line-height: 36px;
    margin: 0 2px 0 0;
    cursor: pointer;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    background: #FFF;
    border: 2px solid #C81623;
    text-indent: 10px;
    border-right: none;
    box-sizing: content-box;}
.tab li{padding: 0 1px;
    height: 36px;
    line-height:36px;
    font-size: 14px;
    background: #fff;
    color: #666;
    border-right: 1px solid #ddd;}
.tab .store_list{display: none}
.public_search .search_form{
	background-color: #C81623;
	height: 40px;
	padding: 1px;
}
.public_search .search_form .input-text{
	margin-left: 60px;
	text-indent: 5px;
	color: #555;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	margin-top:-px;
	width: 69%;
}
.public_search .search_form .input-submit{
	background-color: rgba(0,0,0,0);
	width: 79px;
	height: 36px;
	border: none;
	color: #fff;
	line-height: 1;
	font-family: "microsoft yahei";
	font-size:16px;
	cursor: pointer;
}
.public_search .keyword{
	width: 500px;
	height: 20px;
	line-height: 20px;
	color:#999;
	margin-top: 4px;
}
.public_search .keyword ul{
	display: inline-block;
	vertical-align: top;
}
.public_search .keyword ul li{
	display: inline-block;
	font-size: 12px;
	vertical-align: top;
	letter-spacing: normal;
	margin-right: 12px;
}
.public_search .keyword ul li a{
	color:#666;
	text-decoration: none;
	font:12px/150% Arial,Verdana;;
}
.head-user-menu{
	float: right;
	font-size: 0;
	margin-top: 20px;
}
.head-user-menu dl{
	font-size:12px;
	vertical-align: top;
	letter-spacing: normal;
	display: inline-block;
	margin-left: 10px;
	position:relative;
	z-index:3;
}
.head-user-menu dl dt{
	display: block;
  line-height: 20px;
  color: #555;
  background-color: #FAFAFA;
  height: 20px;
  padding: 10px;
  border: solid 1px #F0F0F0;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  cursor: pointer;
  box-sizing: content-box;
}
.head-user-menu dl dd{
	background-color: #FFF;
  /*display: none;*/
  border: solid 1px #F0F0F0;
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 0;
}
.head-user-menu .my_mall{
	width: 108px;
}
.head-user-menu .my_mall dt{
	width: 98px;
}
.head-user-menu .my_mall dd{
	width: 308px;
}
.head-user-menu dl dt span.ico{
	background:url(../images/index/top_bg.png) no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 16px;
}
.head-user-menu dl.my_mall .ico{
	background-position:-100px 0;
	margin-right: 4px;
}



.head-user-menu .my_cart{
	width: 108px;
}
.head-user-menu dl dt i {
	font-size: 0px;
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 8px;
  border-width: 4px;
  border-color: #777 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  transition: .2s ease-in;
}
.head-user-menu dl dd .sub-title{
	height: 28px;
	line-height: 28px;
	padding: 7px;
	border-bottom: solid 1px #ddd;
	box-sizing: content-box;
}
.head-user-menu dl dd .sub-title a{
	float: right;
	color: #005EA6;;
}
.head-user-menu dl dd i{
	background:url(../images/index/top_bg.png) no-repeat -150px 0;
	vertical-align: middle;
  display: inline-block;
  width: 4px;
  height: 7px;
  margin-left: 4px;
} 
.head-user-menu dl dd .user-centent-menu{
	box-sizing: content-box;
	width: 308px;
	padding: 8px 0;
	overflow:hidden;
	
}
.head-user-menu dl dd .user-centent-menu ul {
	width: 310px;
	margin-left: -2px;
}
.head-user-menu dl dd .user-centent-menu ul li{
	width: 138px;
	float: left;
	padding: 4px 0 4px 16px;
	border-left: 1px solid #eee ;
}
.head-user-menu dl dd .user-centent-menu ul li a{
	color: #005EA6;
}
.head-user-menu dl dd a:hover{
	text-decoration: underline;
}
.head-user-menu .browse-history{
	width: 308px;
	background-color: #FAFAFA;
	border: 1px solid #ddd;
	/*box-sizing: content-box;*/
}
.head-user-menu .browse-history .part-title{
	box-sizing: content-box;
	padding: 6px 8px;
	height: 20px;
	
}
.head-user-menu .browse-history .part-title a{
	float: right;
	 color: #005EA6;
}
.head-user-menu .browse-history ul{
	padding: 0 7px 7px 7px;
	margin-bottom:0;
	}
.head-user-menu .browse-history ul li{
	width: 100%;
	text-align: center;
	font-size: 12px;
	display: block;
}

.head-user-menu .my_cart{
	width: 124px;
}

.head-user-menu .my_cart dt{
	width: 106px;
}
.head-user-menu dl.my_cart .ico{box-sizing: content-box; background-position: -120px 0;margin-right: 2px;}
.head-user-menu dl.my_cart dd {
	width: 348px;
}
.head-user-menu .my_cart dd .sub-title{
	height: 28px;
	line-height: 28px;
	padding: 7px;
	border-bottom:solid 1px #ddd;
}
.head-user-menu .my_cart dd .sub-title h4{
	font-weight: 600;
	font-size: 1em;
	font-style: normal;
	line-height: 28px;
}
.head-user-menu dl dd .incart-goods-box {
    display: block;
    width: 348px;
    max-height: 267px;
    min-height: 58px;
    
    overflow: hidden;
    position: relative;
}
.head-user-menu dl dd .incart-goods {
    text-align: center;
    width: 100%;
}
.public_nav_layout{
	  width: 100%;
    height: 36px;
    border-bottom: solid 2px #C81623;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    zoom: 1;
}

 .wrapper{width: 1200px; margin: 0 auto;}
.public_nav_layout .wrapper .all-category a:hover{
	text-decoration: underline;
}
.public_nav_layout .wrapper .site-menu a:hover{
	color: red;
}
.wrapper .all-category{
	width: 212px;
	height: 36px;
	display: block;
	float: left;
	background-color: #C81623;
	border-radius: 2px;
}
.all-category .title{
	height: 20px;
	line-height: 20px;
	padding: 8px 10px 10px 10px;
}
.all-category .title>i{
	display: block;
	background: url(../images/index/top_bg.png) no-repeat -182px -186px;
	width: 18px ;
	height: 14px;
	float: left;
	margin: 4px 4px 0 0 ;
}
.all-category .title a{
	font-size:14px;
	color:#fff;
	float: left;
	margin-left: 04px;
}
.public_nav_layout .category .menu{
	height: 543px;
	background: #565656;
	padding-top: 2px;
}
.public_nav_layout .category .menu li{
	width: 212px;
	height: 34px;
	position: relative;
	z-index: 1;
	zoom: 1;
}
.public_nav_layout .category .menu li:hover .sub-class{
	display: block !important;
}
.public_nav_layout .category .class{
	display: block;
	width: 183px;
	height: 16px;
	padding: 9px 15px;
	transition: all 0.15s linear;
}
.public_nav_layout .category .class:hover{
	background-color: #C81623;
	width: 175px;
	padding: 9px 15px 9px 23px;
	z-index: 2;
}

.public_nav_layout .category .class .ico{
	vertical-align: top;
  display: inline-block ;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.public_nav_layout .category .class .ico img{
	width: 16px;
	height: 16px;
}
.public_nav_layout .category .class>h4{
	vertical-align: top;
  display: inline-block;
}
.public_nav_layout .category .class>h4 a{
	  color: #FFF;
    font-size: 13px;
    line-height: 16px;
    height: 16px;
}
.public_nav_layout .category .arrow{
	background: url(../images/index/top_bg.png) no-repeat -150px -10px;
  width: 3px;
  height: 5px;
  float: right;
  margin: 5px 0 0;
}
.public_nav_layout .category .sub-class{
	width: 946px;
	min-height:513px;
	background: #fff;
	position: absolute;
	left:212px;
	top: 0px;
	padding:10px 20px 19px 20px;
	/*margin: 10px;*/
	border:1px solid;
	margin-top:-2px;
	border-color: #C81623;
	z-index: 1;
}
.public_nav_layout .category .sub-class-content{
	width: 730px;
	float: left;
	
}
.public_nav_layout .category .recommend-class span{
	font-size: 12px;
  font-size: 12px;
  background-color: #7C7171;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin:0 10px 10px 0 ;
}
.public_nav_layout .category .recommend-class span a{
	color: #fff;
	display: block;
	padding: 2px 10px;
	line-height: 20px;
}

.public_nav_layout .category .sub-class dl{padding-top:10px ;}
.public_nav_layout .category .sub-class dl dt, .public_nav_layout .category .sub-class dl dd {
  font-size: 12px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;

}
.public_nav_layout .category .sub-class dl dt{
	background: url(../images/index/top_bg.png) no-repeat right -22px;
  width: 70px;
  height: 16px;
  padding-right: 15px;
  margin-right: 15px;
}
.public_nav_layout .category .sub-class dl dt h3 {
    line-height: 16px;
    font-weight: 600;
    color: #5C5251;
    text-align: right;
}
.public_nav_layout .category .sub-class dl dd{
	  font-size: 0;
    word-spacing: -1em;
    width: 630px;
    border-bottom: solid 1px #F0F0F0;
}
.public_nav_layout .category .sub-class dl dd a{
	  font-size: 12px;
    color: #7C7171;
    line-height: 14px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    height: 14px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-left: solid 1px #E7E7E7;
}
.public_nav_layout .category .sub-class dl dd a:hover{color: red;}

/*banner 上右边*/
.public_nav_layout .category .sub-class-right{
	width:194px;
	height: 370px;
	display: block;
	float: right;
}
.public_nav_layout .category .sub-class-right .brans-list ul{
	overflow: hidden;
}
.public_nav_layout .sub-class-right .brans-list ul li{
	width: 94px;
	height: 31px;
	font-size: 12px;
	background-color: transparent !important;
	vertical-align: top;
	display: inline-block;
	margin: 0 1px 3px 2px;
}
.public_nav_layout .sub-class-right .brans-list ul li a{
	display: block;
	position: relative;
	z-index: 1;
}
.public_nav_layout .sub-class-right .brans-list a img{
	width: 94px;
  height: 31px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.public_nav_layout .sub-class-right .brans-list a span{
	height: 25px;
	width: 86px;
	padding: 3px 4px;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-align: center;
	background-color: #fff;
	white-space: nowrap;
	color: #333;
	overflow: hidden;
}
.public_nav_layout .category .adv-promotions{
  width: 190px;
  margin: 0 2px;
}
.public_nav_layout .category .adv-promotions a{
	display: block;
	background: #FFF;
  width: 190px;
  height: 150px;
  margin-top: 10px;
}
.public_nav_layout .category .adv-promotions img{
  background: #D3D3D3;
  width: 190px;
  height: 150px;
}

ul.site-menu{
		box-sizing: border-box;
	  font-size: 0;
    white-space: nowrap;
    max-width: 988px;
    float: left;
    overflow: hidden;
		/* border: 1px solid; */
}

ul.site-menu>li{display:block; float: left; }
ul.site-menu>li a{
	display: block;
	font-size:16px;
	font-weight: normal;
	color: #333;
	height: 20px;
	line-height: 20x;
	padding: 8px 18px;
	zoom: 1;
}
.home-focus-layout{
	width: 100%;
	height: 728px;
	position: relative;
	z-index: 1;
}
.full-screen-slides{
	width: 100%;
	height: 543px;
	position: relative;
	z-index: 1;
}
.full-screen-slides li{
	width: 100%;
	height:100%;
	position:absolute ;
	top: 0;
	left: 0;
	display: list-item;
	transition: all 1s linear;
}
.full-screen-slides li.opacity{
  opacity: 1 !important;
  z-index: 900 !important;
}

.full-screen-slides li a{
  display: block;
  width: 776px;
  height: 543px;
  text-indent: -9999px;
  margin-left: -388px;
  position: absolute;
  z-index: 2;
  left: 50%;
}
.full-screen-slides-pagination{
	font-size: 0;
	text-align: center;
	display: block;
	width: 600px;
	height: 6px;
	list-style: none;
	padding: 7px 8px;
	margin-left: -325px;
	position: absolute;
	left: 50%;
	top: 503px;
	z-index: 9;
}
.full-screen-slides-pagination li{
	display: inline-block;
	list-style: none;
	border-radius: 50%;
	/*height: 16px;*/
	vertical-align: top;
	letter-spacing: normal;
	margin-left: 4px;
	background: rgba(0,0,0,.25);
}
.full-screen-slides-pagination li a{
	display: block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-align: center;
	color: #fff;
	font-family: arial;
	font-size:12px;
	text-indent: -9999px;
}
.full-screen-slides-pagination  .current{
	background:#f30 ;
}
.banner-arrow {
	width: 762px;
	position: absolute;
	top: 95px;
	left: 50%;
	margin-left: -395px;
	z-index: 99999;
}
 .arrow:hover{
	opacity: 1 !important;
	/* z-index: 999 !important; */
}
.home-focus-layout .arrow{
	background:url(../images/index/home_bg.png) no-repeat ;
	width: 45px;
	height: 100px;
	position: absolute;
	z-index: 2;
	top: 25px;
	cursor: pointer;
	transition: all 0.2s linear;
}
.home-focus-layout .pre{
	background-position: 0 -100px;
	left: 6px;
}
.home-focus-layout .next{
	background-position: -45px -100px;
	right:0;
}
.jfocus-trigeminybox{
	width: 1200px;
	height: 164px;
	margin: 0px auto;
	overflow: hidden;
	margin-top: 10px;
}
.jfocus-trigeminybox a{
	display: block;
}
.limited_time{
	position: absolute;
	z-index: 9;
	width: 220px;
	height: 164px;
	float: left;
	background: #fff;
}

.limited_time .clock-wrap{
	position: relative;
	width: 210px;
	height: 164px;
	background: url(../images/index/clock01.png) no-repeat;
}
.limited_time .clock{
	position: absolute;
	left: 81px;
	top: 26px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: solid transparent;
}
.limited_time .clock:before{
	content:"";
	position: absolute;
	left: 18px;
	top: 18px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
  background: #fa0808;
}
.limited_time .clock .clock-h{
	position: absolute;
	top: 5px;
	left: 19px;
	height: 18px;
	width: 5px;
	background:url(../images/index/clock_h.png) no-repeat;
	transform-origin: 2.5px 16.5px;
}
.limited_time .clock .clock-m{
	position: absolute;
	left: 5px;
	top: 19px;
	width: 19px;
	height: 5px;
}
.limited_time .clock .clock-m:after{
  content: "";
  position: absolute;
  left: 14px;
  top: -17px;
  width: 4px;
  height: 21px;
  background-color: #1985D9;
  border-radius: 2px;
  background: url(../images/index/clock_m.png) no-repeat;
  border: 1px solid transparent;	
  transform-origin: 2.5px 20.5px;
	animation: tick-tock 20s steps(60, end) infinite;  
  
}
.limited_time .clock .clock-s{
	position: absolute;
  left: 17px;
  top: -6px;
  width: 5px;
  height: 26px;
  transform-origin: bottom;
  animation: tick-tock 10s linear infinite;
}
.limited_time .clock .clock-s:after
{ content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}
.jfocus-trigeminy{
	float: left;
	width: 985px;
	height: 164px;
	margin-left:-388px ;
	clear: both;
	position: absolute;
	z-index: 2;
	/* top: ; */
	left: 50%;
	overflow: hidden;
}
.jfocus-trigeminy ul{
	background: #fff;
	height: 164px;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	transition:all 0.5s linear;
}
.jfocus-trigeminy ul li{
	float: left;
	width: 985px;
	height: 164px;
	
}
.jfocus-trigeminy ul li img{transition: all 0.2s linear;}
.jfocus-trigeminy ul li .point{
	opacity: 1;
}
.jfocus-trigeminy ul li .nopoint{
	opacity: .5;
}
.jfocus-trigeminy ul li a{
	display: block;
	width: 240px;
	height: 164px;
	overflow: hidden;
	text-align: right;
	padding-left: 6px;
	float: left;
}
.jfocus-trigeminy .arrow{
	background: url(../images/index/home_bg.png) no-repeat;
  width: 45px;
  height: 100px;
  position: absolute;
  z-index: 2;
  top: 25px;
  cursor: pointer;	
}
.jfocus-trigeminy .pre{
	background-position:0 -100px ;
	left: 6;
}
.jfocus-trigeminy .next{
	background-position:-45px -100px ;
	right: 0;
}
.home-sale-layout{
	overflow: hidden;
}
.home-sale-layout .left-layout{
	width: 989px;
	float: left;
	border-bottom: 1px solid #f0f0f0;
}
.home-sale-layout .tabs-nav{
	width: 100%;
	height: 40px;
	border-style: solid;
	border-top: 2px;
	border-color: #f0f0f0;
	position: relative;
	z-index: 1;
}
.home-sale-layout .tabs-nav li{
	background-color: transparent;
	width: 20%;
	height: 2.5rem;
	float: left;
	position: relative;
	z-index:1;
	cursor: pointer;
}
.home-sale-layout .tabs-nav li h3{
	font-size: 12px;
	font-weight: 600;
	line-height: 38px;
	text-align: center;
}
.home-sale-layout .tabs-nav li i{
  font-size: 0px;
  line-height: 0;
  display: none;
  width: 0px;
  height: 0px;
  float: right;
  margin-left: -4px;
  border-width: 5px;
  border-style: dashed dashed solid dashed;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
}
.home-sale-layout .tabs-nav .tabs-selected{
	border-style: solid;
	border-width:0 0 2px 0;
	border-color: #C81623;
}
.home-sale-layout .tabs-nav .tabs-selected h3{color: #c81623;}
.home-sale-layout .tabs-nav .tabs-selected i{
	display: block;
	border-color:transparent transparent #C81623;
}
.home-sale-layout .tabs-panel{
	width: 989px;
	overflow: hidden;
}
.home-sale-layout .tabs-panel ul{
	margin-left: -1px;
	width: 990px;
	overflow: hidden;
}
.home-sale-layout .tabs-panel ul li{
	width: 197px;
	height: 235px;
	padding: 15px 0 0 ;
	border-left: dotted 1px #f0f0f0 ;
	float: left;
	overflow: hidden;
}
.home-sale-layout .tabs-panel dl{
	width: 160px;
	margin: 0 auto auto ;
	position: relative;
	z-index: 1;
}
.home-sale-layout .tabs-panel dl dt.good-name{
	font-family: Tahoma, Geneva, sans-serif;
  line-height: 16px;
  width: 160px;
  height: 32px;
  position: absolute;
  z-index: auto;
  top: 164px;
  left: 50%;
  overflow: hidden;
  margin-left: -80px;
}
.good-thumb img, .left-ads img:hover, .right-side-focus img {
  transform: scale(1);
  transition: all 0.4s ease-in-out 0s;
}
.home-sale-layout .tabs-panel dl dd.good-thumb{
	width: 160px;
  height: 160px;
  position: absolute;
  z-index: auto;
  top: 0;
  left: 50%;
  margin-left: -80px;
}
.home-sale-layout .tabs-panel dl dd.good-thumb a{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	width: 160px;
	height: 160px;
	overflow: hidden;
}
.home-sale-layout .tabs-panel dl dd.good-thumb img{
	max-width: 160px;
	max-height: 160px;
}
.home-sale-layout .tabs-panel dl dd.good-price{
	line-height: 20px;
  color: #999;
  position: absolute;
  z-index: auto;
  top: 200px;
  left: 50%;
  margin-left: -80px;
}
.home-sale-layout .tabs-panel dl dd.good-price em{
	font-size: 14px;
  vertical-align: middle;
}
.good-price em{
	font-weight: 600;
	color: #c00;
}
.tabs-hiddle{
	display: none;
}
.home-sale-layout  .tabs-panel ul{overflow: hidden; margin-left: -1px;}
.home-sale-layout .indexnewgoods .tabs-panel ul li:nth-child(1){
	border-top: 1px solid #DDDDDD;
}
.home-sale-layout .indexnewgoods .tabs-panel ul li:nth-child(5n+1){
	border-left: 2px solid #ddd;
}
.home-sale-layout .indexnewgoods .tabs-panel ul li{
	width: 238px;
  height: 235px;
  padding: 0;
  margin: 0;
  border-left: none;
  float: left;
  overflow: hidden;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(5n+1){
    border-left:2px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(1){
    border-top:1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(2){
    border-top:1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(3){
    border-top:1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(4){
    border-top:1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(5){
    border-top:1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(5n+0){
    width:242px;
}
.foot-line{
    border-top: 4px solid #e7e7e7;
    font-family: "微软雅黑";
    margin-top: 20px;
    min-width: 1190px;
    padding: 0;
}

/*底部保证开始*/
.fttff29 {
	background-color: #f5f5f5;
	width: 100%;
}

.warp-all236 {
	width: 1200px;
	margin: 0 auto;
}

.mod_agree {
	padding: 15px 0px 10px 0px;
	text-align: center;
}

.mod_agree_con {
	overflow: hidden;
	zoom: 1;
}

.mod_agree_item {
    /*
	margin-top: 10px;
    */
	/* display: inline; */
	float: left;
	width: 198px;
	border-right: 1px dotted #CCC;
}

.mod_agree_item1 i {
	background-position: 0 -60px;
}

.mod_agree_item i {
	display: block;
	margin: auto;
	width: 36px;
	height: 35px;
	background-image: url(../images/home_bg211.png);
	background-repeat: no-repeat;
}

.mod_agree_item a {
	color: #666;
	font: 12px/1.5 "Lucida Grande", tahoma, arial, \5b8b\4f53;
	display: block;
    /*
	padding-top: 5px;
    */
	line-height: 18px;
}

.mod_agree_item a:hover {
	color: #666;
	font: 12px/1.5 "Lucida Grande", tahoma, arial, \5b8b\4f53;
	display: block;
    /*
	padding-top: 5px;
    */
	line-height: 18px;
	text-decoration: none;
}

.mtdibu10 {
	display: block;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	margin-top: 10px;
}

.mod_agree_item span {
	display: block;
	color: #999;
}

.ic_footer_inner a {
	color: #555;
}

.mod_agree_item2 i {
	background-position: -50px -60px;
}

.mod_agree_item3 i {
	background-position: -100px -60px;
}

.mod_agree_item4 i {
	background-position: -150px -60px;
}

.mod_agree_item5 i {
	background-position: -200px -60px;
}

.mod_agree_item6 {
	border-right: 0;
}

.mod_agree_item6 i {
	background-position: -250px -60px;
}

.public-top-layout .seller-login {
	background-color: #D40000;
	display: inline-block;
	margin-left: 10px;
	border: 1px solid #d90000;
	border-radius: 3px;
	box-shadow: 2px 2px 0 rgba(204, 204, 204, 0.65);
}

.public-top-layout .seller-login a {
	line-height: 14px;
	color: #FFF;
	display: block;
	height: 14px;
	padding: 1px 4px;
}

.public-top-layout .seller-login a:hover {
	text-decoration: none;
	background-color: #D90000;
}

.public-top-layout .seller-login i {
	font-size: 14px;
	vertical-align: middle;
	margin-right: 4px;
}
.home-sale-layout .right-sidebar { width: 211px; float: right; }
.home-sale-layout .right-sidebar .title { height: 40px; border-bottom: solid 2px #C81623; }
.home-sale-layout .right-sidebar .title h3 { font-size: 12px; font-weight: 600; line-height: 38px; color: #C81623; float: left; margin-left: 20px; }
.home-sale-layout .right-sidebar .title a { line-height: 38px; float: right; margin-right: 6px; }
.home-sale-layout .sale-discount { width: 210px; height: 252px; overflow: hidden; position: relative; z-index: 1; }
.home-sale-layout .sale-discount ul { transition:all .25s linear; width: auto; height: 252px; position: absolute; z-index: 1; }
.home-sale-layout .sale-discount ul li { width: 210px; height: 50px; float: left; padding: 191px 0 0 0; }
.home-sale-layout .sale-discount .arrow {
	 background: url(../images/index/home_bg.png) no-repeat; 
	  width: 19px; height: 29px;
		margin-top: -40px; 
		position: absolute; 
		z-index: 2; 
		top: 50%; 
		cursor: pointer; 
		opacity: 0.25!important;
		
	}
.home-sale-layout .sale-discount .arrow:hover { opacity: 0.85!important; }
.home-sale-layout .sale-discount .pre { background-position: -160px -70px; left: 0; }
.home-sale-layout .sale-discount .next { background-position: -180px -70px; right: 0; }
.home-sale-layout .sale-discount dl { height: 59px; width: 210px; border-bottom: solid 1px #F0F0F0; position: relative; z-index: 1; }
.home-sale-layout .sale-discount dl dt, .home-sale-layout .sale-discount dl dd { position: absolute; z-index: auto; }
.home-sale-layout .sale-discount dt.goods-name { text-overflow: ellipsis; white-space: nowrap; width: 200px; height: 20px; top: 30px; left: 5px; overflow: hidden; }
.home-sale-layout .sale-discount dd.goods-thumb { top: -155px; left: 30px; }
.home-sale-layout .sale-discount dd.goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block;
width: 150px; height: 150px; overflow: hidden; }
.home-sale-layout .sale-discount dd.goods-thumb img { max-width: 150px; max-height: 150px;}
.home-sale-layout .sale-discount dd.goods-price { font: 600 16px/30px Verdana; color: #C00; width: 200px; height: 30px; top: 0; left: 5px; }
.home-sale-layout .sale-discount dd.goods-price .original { font-size: 12px; color: #AAA; font-weight: normal; text-decoration: line-through; margin-left: 6px; }
.home-sale-layout .sale-discount dd.goods-price-discount { color: #FFF; background: url(../images/home_bg.png) no-repeat -100px -100px; text-align: center; width: 48px; height: 24px; padding: 28px 0 16px 0; top: -40px; right: 5px; }
.home-sale-layout .sale-discount dd.goods-price-discount em { font-size: 16px; font-weight: 600; margin-right: 2px; }
.home-sale-layout .sale-discount dd.time-remain { color: #999; line-height: 16px; text-align: center; width: 210px; height: 16px; top: -180px; left: 0; }
.home-sale-layout .sale-discount dd.time-remain i { background: url(../images/home_bg.png) no-repeat -40px -60px; vertical-align: middle; display: inline-block; width: 11px; height: 11px; margin-right: 4px; }
.home-sale-layout .sale-discount dd.time-remain em { font-weight: 600; color: #555; margin: 0 2px; }
/* .home-sale-layout .sale-discount dd.goods-buy-btn { } */
.home-sale-layout .sale-discount .preNext { opacity: 0.5 !important; }
.home-sale-layout .sale-discount .preNext:hover { opacity: 1 !important; }

.home-sale-layout { overflow: hidden; }
.home-sale-layout .left-layout { width: 989px; float: left; border-bottom: solid 1px #F0F0F0; }
.home-sale-layout .tabs-nav { background-color: transparent; width: 100%; height: 40px; border-style: solid; border-width: 0 0 2px 0; border-color: transparent transparent #F0F0F0 transparent; position: relative; z-index: 1; }
.indexnewgoods li dl{
    width: 220px;
}
.indexnewgoods li dl:hover{
    width: 234px;
    height: 231px;
    border: 2px solid #c00;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li{
    width:238px;
    height: 235px;
    padding:0;
    margin:0;
    border-left: none;
    float: left;
    overflow: hidden;
    border-right:1px solid #DDD;
    border-bottom:1px solid #DDD;


}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(5n+1){
    border-left:2px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(1){
    border-top:1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(2){
    border-top:1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(3){
    border-top:1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(4){
    border-top:1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(5){
    border-top:1px solid #DDD;
}
.home-sale-layout .indexnewgoods .tabs-panel  ul li:nth-child(5n+0){
    width:242px;
}
.home-sale-layout .tabs-nav li { background-color: transparent; width: 20%; *width: 195px;
height: 40px; float: left; padding: 0; position: relative; z-index: 1; cursor: pointer; }
.home-sale-layout .tabs-nav li h3 { font-size: 12px; font-weight: 600; line-height: 38px; text-align: center; }
.home-sale-layout .tabs-nav li i { font-size: 0px; line-height: 0; display: none; width: 0px; height: 0px; float: right; margin-left: -4px; border-width: 5px; border-style: dashed dashed solid dashed; position: absolute; z-index: 1; bottom: 0; left: 50%; }
.home-sale-layout .tabs-nav .tabs-selected { border-style: solid; border-width: 0 0 2px 0; border-color: #C81623; }
.home-sale-layout .tabs-nav .tabs-selected i { display: block; border-color: transparent transparent #C81623; }
.home-sale-layout .tabs-nav .tabs-selected h3 { color: #C81623; }
.home-sale-layout .tabs-panel { width: 989px; overflow: hidden; }
.home-sale-layout .tabs-panel ul { width: 990px; margin-left: -1px; overflow: hidden; }
.home-sale-layout .tabs-panel ul li { width: 197px; height: 235px; padding: 15px 0 0; border-left: dotted 1px #F0F0F0; float: left; overflow: hidden; }
.home-sale-layout .tabs-panel dl { width: 160px; margin: 0 auto auto; position: relative; z-index: 1; }
.home-sale-layout .tabs-panel dl dt.goods-name { font-family: Tahoma, Geneva, sans-serif; line-height: 16px; width: 160px; height: 32px; position: absolute; z-index: auto; top: 164px; left: 50%; overflow: hidden; margin-left:-80px;}
.home-sale-layout .tabs-panel dl dd.goods-thumb { width: 160px; height: 160px; position: absolute; z-index: auto; top: 0; left: 50%;margin-left: -80px; }
.home-sale-layout .tabs-panel dl dd.goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block;
width: 160px; height: 160px; overflow: hidden; }
ale-layout .tabs-panel dl dd.goods-price { line-height: 20px; color: #999; position: absolute; z-index: auto; top: 200px; left: 50%;margin-left:-80px; }
.home-sale-layout .tabs-panel dl dd.goods-price em { font-size: 14px; vertical-align: middle; }
.home-sale-layout .right-sidebar { width: 211px; float: right; }
.home-sale-layout .right-sidebar .title { height: 40px; border-bottom: solid 2px #C81623; }
.home-sale-layout .right-sidebar .title h3 { font-size: 12px; font-weight: 600; line-height: 38px; color: #C81623; float: left; margin-left: 20px; }
.home-sale-layout .right-sidebar .title a { line-height: 38px; float: right; margin-right: 6px; }
.home-sale-layout .sale-discount { width: 210px; height: 252px; overflow: hidden; position: relative; z-index: 1; }
.home-sale-layout .sale-discount ul { width: auto; height: 252px; position: absolute; z-index: 1; }
.home-sale-layout .sale-discount ul li { width: 210px; height: 50px; float: left; padding: 191px 0 0 0; }
.home-sale-layout .sale-discount .arrow { background: url(../images/home_bg.png) no-repeat; width: 19px; height: 29px; margin-top: -40px; position: absolute; z-index: 2; top: 50%; cursor: pointer; opacity: 0.25!important; }
.home-sale-layout .sale-discount .arrow:hover { opacity: 0.85!important; }
.home-sale-layout .sale-discount .pre { background-position: -160px -70px; left: 0; }
.home-sale-layout .sale-discount .next { background-position: -180px -70px; right: 0; }
.home-sale-layout .sale-discount dl { height: 59px; width: 210px; border-bottom: solid 1px #F0F0F0; position: relative; z-index: 1; }
.home-sale-layout .sale-discount dl dt, .home-sale-layout .sale-discount dl dd { position: absolute; z-index: auto; }
.home-sale-layout .sale-discount dt.goods-name { text-overflow: ellipsis; white-space: nowrap; width: 200px; height: 20px; top: 30px; left: 5px; overflow: hidden; }
.home-sale-layout .sale-discount dd.goods-thumb { top: -155px; left: 30px; }
.home-sale-layout .sale-discount dd.goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block;
width: 150px; height: 150px; overflow: hidden; }
.home-sale-layout .sale-discount dd.goods-thumb img { max-width: 150px; max-height: 150px;}
.home-sale-layout .sale-discount dd.goods-price { font: 600 16px/30px Verdana; color: #C00; width: 200px; height: 30px; top: 0; left: 5px; }
.home-sale-layout .sale-discount dd.goods-price .original { font-size: 12px; color: #AAA; font-weight: normal; text-decoration: line-through; margin-left: 6px; }
.home-sale-layout .sale-discount dd.goods-price-discount { color: #FFF; background: url(../images/home_bg.png) no-repeat -100px -100px; text-align: center; width: 48px; height: 24px; padding: 28px 0 16px 0; top: -40px; right: 5px; }
.home-sale-layout .sale-discount dd.goods-price-discount em { font-size: 16px; font-weight: 600; margin-right: 2px; }
.home-sale-layout .sale-discount dd.time-remain { color: #999; line-height: 16px; text-align: center; width: 210px; height: 16px; top: -180px; left: 0; }
.home-sale-layout .sale-discount dd.time-remain i { background: url(../images/home_bg.png) no-repeat -40px -60px; vertical-align: middle; display: inline-block; width: 11px; height: 11px; margin-right: 4px; }
.home-sale-layout .sale-discount dd.time-remain em { font-weight: 600; color: #555; margin: 0 2px; }

.home-sale-layout .sale-discount .preNext { opacity: 0.5 !important; }
.home-sale-layout .sale-discount .preNext:hover { opacity: 1 !important; }
.goods-thumb img,.good-thumb img, .left-ads img:hover, .right-side-focus img {
	transform: scale(1);
	transition: all 0.4s ease-in-out 0s;
}

.goods-thumb img:hover,.good-thumb img:hover, .left-ads img:hover, .right-side-focus img:hover
	{
	transform: scale(1.2);
}

/* 導航 */

.nc-appbar {
	position: fixed;
	z-index: 1998;
	width: 50px;
	height: 100%;
	right: 6px;
	top: 0;
	bottom: 0;
}

.nc-appbar-tabs {
	width: 50px;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	border-right: 6px solid #7A6E6E;
	/*box-shadow: -5px 0 3px rgba(0,0,0,0.35); background: #FEFCF5 url(../images/app_bar_bg.png) no-repeat top center;*/
}

.nc-hidebar {
	display: block;
	position: absolute;
	z-index: 3;
	bottom: 5px;
	right: -86px;
	cursor: pointer;
}

.nc-hidebar .nc-hidebar-bg {
	background: url(../images/toolbar.png) no-repeat -100px 0;
	width: 79px;
	height: 56px;
	position: relative;
	z-index: 1;
}

.nc-hidebar .nc-hidebar-bg .user-avatar, .nc-hidebar .nc-hidebar-bg .frame,
	.nc-hidebar .nc-hidebar-bg .show {
	background: url(../images/toolbar.png) no-repeat;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 10px;
	left: 15px;
}

.nc-hidebar .nc-hidebar-bg .user-avatar {
	background-position: -100px 0px;
	z-index: 1;
}

.nc-hidebar .nc-hidebar-bg .user-avatar img {
	max-width: 36px;
	max-height: 36px;
}

.nc-hidebar .nc-hidebar-bg .frame {
	background-position: -100px -70px;
	z-index: 2;
}

.nc-hidebar .nc-hidebar-bg .show {
	display: none;
	background-position: -140px -70px;
	z-index: 3;
}

.nc-hidebar .nc-hidebar-bg:hover .show {
	display: block;
}

.nc-hidebar:hover {
	background-position: -100px -60px;
}

.nc-appbar-tabs .user {
	text-align: center;
	width: 36px;
	position: absolute;
	z-index: 1;
	top: 40%;
	margin-top: -36px;
	cursor: pointer;
	height: 36px;
	overflow: hidden;
	right: 0px;
}

.nc-appbar-tabs .user .avatar {
	background-color: #7A6E6E;
	width: 34px;
	height: 34px;
	padding: 1px; /*margin: 0 auto 5px auto;*/
	float: right;
	border-radius: 3px 0 0 3px;
}

.nc-appbar-tabs .user .avatar img {
	width: 28px;
	height: 28px;
	border-radius: 14px;
	margin: 2px 0 0 0;
}

.nc-appbar-tabs .user p {
	display: block;
	width: 80px;
	height: 36px;
	border-radius: 3px 0 0 3px;
	left: 0px;
	line-height: 36px;
	color: #fff;
	background-color: #7A6E6E;
	text-align: center;
}

.nc-appbar-tabs .user:hover {
	width: 94px;
}

.nc-appbar-tabs .user:hover .avatar {
	background-color: #C81623;
}

.nc-appbar-tabs .user:hover p {
	background-color: #C81623;
}

.nc-appbar-tabs .tools {
	position: absolute;
	z-index: 1;
	top: 40%;
}

.nc-appbar-tabs .tools {
	margin-top: 0px;
}

.nc-appbar-tabs .tools li {
	float: right;
	width: 36px;
}

.nc-appbar-tabs .tools a {
	display: block;
	width: 36px;
	height: 36px;
	overflow: hidden;
	float: right;
	position: relative;
	z-index: 1;
	margin-top: 3px;
	/* font: 12px/20px Arial,"microsoft yahei"; color: #333; text-align: center;*/
}

.nc-appbar-tabs .tools a .tools_img {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 3px 0 0 3px;
	z-index: 3;
	background: url(../images/tollsbor_new.png) no-repeat #7A6E6E;
}

.nc-appbar-tabs .tools a i {
	font: 10px/12px Arial;
	color: #FFF;
	background-color: #D93600;
	text-align: center;
	min-width: 12px;
	height: 12px;
	padding: 2px;
	border-radius: 8px;
	position: absolute;
	z-index: 4;
	top: 0;
	right: 0px;
}

.nc-appbar-tabs .tools a span {
	display: block;
	width: 63px;
	height: 36px;
	border-radius: 3px 0 0 3px;
	left: 0px;
	line-height: 36px;
	color: #fff;
	background-color: #7A6E6E;
	text-align: center;
	position: absolute;
	left: 0px;
	z-index: 1;
}

.nc-appbar-tabs .tools li a:hover {
	width: 96px;
}

.nc-appbar-tabs .tools li a:hover .tools_img {
	background-color: #C81623;
}

.nc-appbar-tabs .tools li a:hover span {
	background-color: #C81623;
}

.nc-appbar-tabs .tools a.chat .tools_img {
	background-position: 0 0;
}

.nc-appbar-tabs .tools a.compare .tools_img {
	background-position: 0 -36px;
}

.nc-appbar-tabs .tools a.cart .tools_img {
	background-position: 0 -72px;
}

.nc-appbar-tabs .tools a.gotop .tools_img {
	background-position: 0 -108px;
}

.nc-appbar-tabs a.nc-appbar-hide {
	background: url(../images/appbar-hide.png) no-repeat 0 0 #7A6E6E;
	border-radius: 3px 0 0 3px;
	width: 36px;
	height: 36px;
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 2;
	bottom: 5px;
	right: 0px;
}

.nc-appbar-tabs a.nc-appbar-hide:hover {
	background-color: #C81623;
}
/*工具条-会员登录*/
.nc-appbar-tabs .user-login-box {
	background-color: #FFF;
	width: 240px;
	padding: 10px 40px 30px 40px;
	border: solid 1px #CCC;
	position: absolute;
	z-index: 2;
	top: 40%;
	margin-top: -120px;
	right: 50px;
	box-shadow: -4px 0 4px rgba(0, 0, 0, 0.25);
}

.nc-appbar-tabs .user-login-box dd img {
	height: 26px;
	width: 90px;
}

.nc-appbar-tabs .user-login-box i.arrow {
	background: url(../images/toolbar.png) no-repeat -100px -150px;
	width: 7px;
	height: 13px;
	position: absolute;
	z-index: 3;
	top: 90px;
	right: -7px;
}

.nc-appbar-tabs .user-login-box a.close-a {
	font: 600 11px/16px Verdana, Geneva, sans-serif;
	text-decoration: none;
	color: #999;
	text-align: center;
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 3;
	top: 10px;
	right: 10px;
}

.nc-appbar-tabs .user-login-box a {
	font: 12px/20px arial, "宋体";
	color: #005EA6;
	text-decoration: underline;
	float: right;
}



.nc-appbar-tabs .user-login-box dt {
	font: 13px/20px Arial, "microsoft yahei";
	height: 20px;
	padding: 10px 0 0;
}

.nc-appbar-tabs .user-login-box dt a {
	font: 12px/20px arial, "宋体";
	color: #005EA6;
	text-decoration: underline;
	float: right;
}



.nc-appbar-tabs .user-login-box dd .text {
	line-height: 20px;
	width: 226px;
	height: 20px;
	padding: 3px 5px;
	border: solid 1px #CCC;
}

.nc-appbar-tabs .user-login-box .bottom {
	margin-top: 20px;
}

.nc-appbar-tabs .user-login-box .submit {
	font: 600 14px/20px Arial, "microsoft yahei";
	color: #FFF;
	background-color: #D93600;
	width: 240px;
	height: 30px;
	border: solid 1px #B22D00;
	cursor: pointer;
}
/*工具条-会员信息*/
.nc-appbar-tabs .user-info {
	background-color: #FFF;
	width: 240px;
	padding: 9px 19px;
	border: solid 1px #CCC;
	position: absolute;
	z-index: 2;
	top: 48%;
	margin-top: -120px;
	right: 50px;
	box-shadow: -4px 0 4px rgba(0, 0, 0, 0.25);
}

.nc-appbar-tabs .user-info i.arrow {
	background: url(../images/toolbar.png) no-repeat -100px -150px;
	width: 7px;
	height: 13px;
	position: absolute;
	z-index: 3;
	top: 45px;
	right: -7px;
}

.nc-appbar-tabs .user-info .avatar {
	width: 88px;
	height: 88px;
	float: left;
	position: relative;
	z-index: 1;
}

.nc-appbar-tabs .user-info .avatar .frame {
	background: url(../images/point_bg.png) no-repeat 0 0;
	width: 88px;
	height: 88px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}

.nc-appbar-tabs .user-info .avatar img {
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 1;
	top: 4px;
	left: 4px;
}

.nc-appbar-tabs .user-info dl {
	display: block;
	width: 140px;
	float: left;
	margin: 10px 0 0 10px;
}

.nc-appbar-tabs .user-info dt {
	font: 600 14px/20px "microsoft yahei";
	margin-bottom: 6px;
}

.nc-appbar-tabs .user-info dd {
	line-height: 22px;
}

#vToolbar .content-box {
	background-color: #F5F5F5;
	width: 240px;
	height: 100%;
	border-left: solid 1px #7C8994;
	position: absolute;
	z-index: 0;
	top: 0;
	right: -250px;
	bottom: 0;
	box-shadow: -4px 0 2px rgba(0, 0, 0, 0.25);
}

#vToolbar .content-box .top {
	height: 24px;
	padding: 9px 7px;
	border-bottom: dotted 1px #CCC;
	margin-bottom: 10px;
}

#vToolbar .content-box .top h3 {
	font: 16px/24px "microsoft yahei";
	color: #333;
	display: inline-block;
}

#vToolbar .content-box .top a.close {
	background: url(../images/toolbar.png) no-repeat -100px -120px;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	float: right;
}

#vToolbar .content-box .goods-list {
	background-color: #FFF;
	width: 180px;
	padding: 10px 0;
	margin: 0 0 0 12px;
}

#vToolbar .content-box .goods-list li {
	width: 160px;
	padding: 0 0 10px 0;
	margin: 0 auto;
}

#vToolbar .content-box .goods-info {
	width: auto;
	margin: auto;
}

.nc-appbar .goods-pic {
	width: 120px;
	height: 120px;
	margin: 0 auto 10px auto;
}

.nc-appbar .goods-pic a {
	line-height: 0;
	background: none;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	*display: block;
	width: 120px;
	height: 120px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.nc-appbar .goods-pic a img {
	max-width: 120px;
	max-height: 120px;

}

.nc-appbar .goods-name a {
	font-weight: normal;
	line-height: 16px;
	color: #555;
	background: none;
	text-align: left;
	display: block;
	width: 100%;
	height: 16px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nc-appbar .goods-price {
	font: 600 14px/20px Arial;
	color: #C00;
}

.nc-appbar .goods-price .del {
	font: normal 12px/20px Arial;
	color: #005EA6;
	display: none;
	float: right;
	cursor: pointer;
}

#vToolbar .goods-list li:hover .goods-price .del {
	display: block;
}

#vToolbar .content-box .no-compare {
	color: #999;
	line-height: 180px;
	text-align: center;
}

.nc-appbar .content-box .btn-box {
	background-color: #F5F5F5;
	text-align: center;
	width: 160px;
	padding: 10px;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 10px;
}

.nc-appbar .content-box .btn-box a {
	background-color: #E74649;
	color: #FFFFFF;
	cursor: pointer;
	padding: 5px 10px;
}

.nc-appbar .content-box .btn-box .total-price {
	color: #777;
	padding-bottom: 10px;
}

.nc-appbar .cart-list {
	width: 180px;
	margin: 0 0 0 12px;
}

.nc-appbar .cart-list li {
	font-size: 0;
	*word-spacing: -1px /*IE6、7*/;
	background-color: #FFF;
	padding: 4px;
	border: solid 1px #FFF;
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
}

.nc-appbar .cart-list li:hover {
	border-color: #e74649;
	box-shadow: 3px 3px 0 rgba(204, 204, 204, 0.75);
}

.nc-appbar .cart-list .goods-pic, .nc-appbar .cart-list dl {
	font-size: 12px;
	vertical-align: top;
	letter-spacing: normal;
	display: inline-block;
	*display: inline /*IE6、7*/;
	*zoom: 1;
}

.nc-appbar .cart-list .goods-pic {
	width: 40px;
	height: 40px;
	margin: 0;
}

.nc-appbar .cart-list .goods-pic a {
	line-height: 0;
	background: none;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	*display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.nc-appbar .cart-list .goods-pic a img {
	max-width: 40px;
	max-height: 40px;

}

.nc-appbar .cart-list dl {
	width: 125px;
	margin-left: 5px;
}

.nc-appbar .cart-list .goods-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.nc-appbar .cart-list a.del {
	font: 600 10px/14px Arial;
	color: #FFF;
	background-color: #CCC;
	text-align: center;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	position: absolute;
	z-index: 1;
	top: -5px;
	right: -5px;
}

.nc-appbar .cart-list li:hover a.del {
	background-color: #e74649;
}
