body{
	  font: 12px/20px "Hiragino Sans GB", "Microsoft Yahei", arial, 宋体,
 "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #666;
    background: #FFF none repeat scroll 0 0;
    min-width: 1200px;
    background-size: 100%;
}
header{
	margin: 10px auto 0 auto;
	width: 99%;

}
#heder_1{
	width: 1000px; height: 80px;
	margin: auto;
	font-size: 14px;
	border-bottom: solid 2px #F5F5F5;
}
#heder_1 a{margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}
#heder_1 span .login_text{
	width: 172px;
	height: 40px;
}
#heder_1 a img{
	margin-top: 10px;
}
#header_login{
  font-size: 14px;
  color: #AAA;
  line-height: 20px;
  float: right;
  height: 40px;
  margin-top: 50px;
}
#header_login .avatar {
  margin-right:6px;
}

#heder_1 span img{
	border-radius: 50%;
	width: 40px; height: 40px ;
}
#header_login span{
  vertical-align: top;
  display: inline-block;
}
#header_login .login_text a{
  font-weight: 600;
  color:#06c ;
  margin-left:4px;
}

/* 注册本身 */

a:hover {
	color: #C81623;
	text-decoration: underline;
}
#bg::before{
  content:"";
  display: table;
}
#bg{
	background-image: url(../images/reg/register_bg.png) ;
	width: 100%;height: 680px;
	position: relative;
}
section{
	width: 860px;height: 560px;
	display: block;
	background: rgba(0,0,0,.15);
	padding: 10px;
	margin: 60px auto;
}
.box{

	background: #fff;
	width:820px;height: 520px;
	padding:19px;
	border: 1px solid #ccc;
	overflow: hidden;
	border-radius: 5px;
}
.box .left{
	float: left;
  width: 580px;
  height: 520px;
  margin-right: 20px;
	background-color:  #fff;

}
.box .right{
	float: left;
	background:#fff;
  width: 200px;height: 520px;
  padding: 20px 0 0 19px;
  border-left:solid 1px #e6e6e6;
}
.left ul{
	border-bottom: 1px solid #e6e6e6;
}
.left li{
	vertical-align: bottom;
	letter-spacing: normal;
	word-spacing:normal;
	text-align: center;
	display: inline-block;
	width: 49%;
	height: 40px;
	margin-bottom:-1px;
}
.left li a{
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 13px;
	position:relative;
	z-index:1;
}
.left li a i{
  font-size: 0;
  line-height: 0;
  border-color:#c81623 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  border-width: 7px;
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  left: 50%;
  bottom: -17px;
  margin-left: -4px;
}
.left li a.tabulous_active{
  display: block;
  color:#c81623;
  border-bottom: 3px solid #c81623 ; 
}
.left li a.tabulous_active i{
  display:block;
}

a:link{
	text-decoration:none;
}
.aside_body{
	
	padding: 50px 80px 0 100px;

}
.aside_body dl{
	width:398px;
	height: 52px;
	margin-top: -1px;
	border:1px solid #e6e6e6;
}
.aside_body dt{
	font-size: 14px;
	line-height:20px;
	color:#666;
	width: 72px;
	padding: 16px 0 16px 20px;

}
.aside_body dd{
	width: 290px;
	height:52px;
	/*padding: 12px 0;*/
	/*float: left;*/
  margin: 0;padding: 0
}
 dd input{
	width: 290px;
	height:52px;
  padding: 0;
  font-size: 14px;
  color:black;

}
 dd .text{
	  font-family: "microsoft yahei";
    font-size: 14px;
    line-height: 52px;
    width: 290px;
    height: 28px;
    padding: 0;
    border: none 0;
    color:green;

}
.aside_body .read{
  padding: 0;
  height: 30px;
  width: 398px;
	/* float:left; */
	margin-top: 15px;
  border: 0;
  font-size: 14px;
	
}

.aside_body .read dd{
	vertical-align:center;

}
/* .aside_body .read dd input{
  float: left;
}
.aside_body .read dd label{
  float: left;
} */
.aside_body button{
  width: 398px;
  height: 42px;
  line-height: 42px;
  border:solid 1px #d91e17;
  background-color:#c81623;
  border-radius: 3px;
  color:#fff;
  font-size:16px;
  font-weight: 600;
  margin-top: 15px;
  cursor:pointer;
}
/* 登陆右侧表格 */
.box .right .qw{
  border-bottom: 1px dashed #e6e6e6;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.box .right .qw p{
  display: block;
  font-size:14px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  color:#333;
}
.box .right .qw a{
  display: inline-block;
  margin-left: 12px;
  width: 42px;
}
.box .right .qw a i{
  display: block;
  width: 42px;
  height: 42px;
}
.box .right .qw a.qq i{
  background:url("../images/login/qq.png") no-repeat;
  background-size:cover; 
}
.box .right .qw a.wx i{
  background:url("../images/login/wx.png") no-repeat;
  background-size:100%;
}
.box .right .reg_after p{
  display:block;
  font-size:14px;
  margin-bottom:20px;
}
.right .reg_after .reister-after li{
  color:#999;
  line-height: 24px;
  padding-left: 12px;
  font-size:12px;
  margin-bottom: 10px;
}
.right .reg_after .reister-after li i{
  background:url("../images/reg/login_pic.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.right .reg_after .reister-after .ico1 i{
  background-position: 0 -76px;
}
.right .reg_after .reister-after .ico2 i{
  background-position: -30px -76px;
}
.right .reg_after .reister-after .ico3 i{
  background-position: -60px -76px;
}
.right .reg_after .reister-after .ico4 i{
  background-position: -90px -76px;
}
.right .reg_after .reister-after .ico5 i{
  background-position: -120px -76px;
}
.right .reg_after .reister-after .ico6 i{
  background-position: -150px -76px;
}

/* 底部保障 */
footer> .ftft{
  display: none;
}