
body{    background-color: #FAFAFA;
	    font: 12px/20px "Hiragino Sans GB", "Microsoft Yahei", arial, 宋体,
 "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #666;
}
header{
	margin: 10px auto 0 auto;
	width: 99%;

}
#heder_1{
	width: 1000px; height: 80px;
	margin: auto;
	
	font-size: 14px;
	border-bottom: solid 2px #F5F5F5;
}
#heder_1 a{margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}
#heder_1 span .login_text{
	width: 172px;
	height: 40px;
}
#heder_1 a img{
	margin-top: 10px;
}
#header_login{
  font-size: 14px;
  color: #AAA;
  line-height: 20px;
  float: right;
  height: 40px;
  margin-top: 30px;
}
#header_login .avatar {
  margin-right:6px;
}

#heder_1 span img{
	border-radius: 50%;
	width: 40px; height: 40px ;
}
#header_login span{
  vertical-align: top;
  display: inline-block;
}
#header_login .login_text a{
  font-weight: 600;
  color:#06c ;
  margin-left:4px;
}

/*section*/
#select_content{
	  width: 1000px; height: 470px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}
#left_pic{
	width: 450px;
	height: 350px;
	float: left;
	margin: 30px 0;
	position: relative;
	z-index: 1;
}
#select_content .lelft_pic img{
	border: medium none;
    vertical-align: middle;
}
#back{
	width: 440px; height: 420px;
	background-color: white;
	border: 1px solid #e6e6e6;
	float: right;
	padding: 19px 19px 29px 19px ;
	position: relative;
	z-index: 1;
}
#back .login_top{
	word-wrap: 1em;
	border-bottom: 1px solid #e6e6e6; 
	padding-left:0px;
}
#back .login_top li{
  width:49%;
  height: 40px;
	display: inline-block;
	line-height: 24px;
	text-align: center;
	font-size: 18px;
}
.login_top li a{
  display: block ;
  font-size:18px;
  color:#999;
  line-height: 24px;
  padding-bottom:13px;
  position: relative;
}
.login_top li a.tabulous_active{
  display: block;
  color:#c81623;
  border-bottom: 3px solid #c81623 ; 
}


#login_body,#login_foot{
	width:352px;height:267px;
	margin-top: 30px;
	padding: 0 40px 20px 40px;
	font-size: 12px;
	line-height: 52px
}
#login_body dl{
	background-color: white;
	width: 348px;height: 52px;
	line-height: 52px;
	border: 1px solid #E6E6E6;
	font-size: 14px;
	color:#666666;
	padding-left: 20px;
}
	#login_body dl dt{
		width: 72px;height: 20px;
	}
	#login_body dl dd{
		width: 72px;
		margin-left:0 ;
	}
.upwd{
	margin-top: -1px;
}
#login_body input{
	
	color:black;
	height: 28px;
	padding: 0;
	line-height: 52px;
}
#login_body .yzm{
	margin-top: 15px;
	
}
#login_body .yzm dl{
	width: 348px;
}
.yzm input{
	width: 100px !important;
}
.yzm span{
	height: 52px;
	float: right;
}
.yzm span img{
	border-left: 1px solid #E6E6E6;
	width: 120px; height: 52px;
}
.auto_login{
	display: inline-block;
	width:370px;height: 20px;
	font-size: 8px;
	line-height: 20px;
	margin-top:15px ;
}
.auto_login .auto{
	float: left;
	

}
#login_body .auto_login .auto input{
	margin: 0;
	height: 20px;line-height: 20px;
	vertical-align: bottom;
}
.auto_login a{
	float:right;
}
button{
	display: block;
	width: 346px;
	height: 40px;
	border:1px solid #d91e17;
	border-radius: 3px;
	font-size: 16px;
	color: #FFFFFF;
	margin: 0 auto;
	margin-top: -5px;
	background: #c81623;
}



/*foot*/
#login_foot{
	width: 340px;height: 62px;
	margin-top: 0;
	/* padding: ; */
	line-height:  initial;
}
#login_foot h4{
	margin:0 0 10px 0;
	color: #333;
}
#login_foot a{
  height: 32px;
	text-decoration: none;
	line-height: 32px !important;
	display: inline-block;
  vertical-align: top;
  /* text-align: center; */
	margin-right:12px ;
	color: #aaa;
}
#login_foot a i{
	display: inline-block;
	height: 32px;width: 32px;
	background: url(../images/login/qq.png);
	line-height: 32px;
}
#login_foot .wx  i{
  background: url(../images/login/wx.png)
}
footer div{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
